* {
  box-sizing: border-box;
}
body {

  font-size: 14px;
  background-color: white;
}

.hero{
  display: flex;
  background-color: white;
}

.main-idea{
  display: flex;
  flex-direction: column;
  width:600px;
  margin: auto;
  line-height: 1;
}

@font-face {
  font-family: "pop-light";
  src: url("../fonts/Poppins/Poppins-Light.ttf");
}
@font-face {
  font-family: "pop-semibold";
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
}

.idea-text{
  font-family: "pop-semibold";
  margin-top: -50px;
  font-size: 60px;
}

.idea-description{
  margin-top: 20px;
  font-family:  "pop-light";
  font-size: 20px;
}

.hero-image{
  height: 600px;
  width:  800px;
  margin-right: 10px;
}
.collage{
  height: 600px;
  width:  800px;
  object-fit: contain;
}

.btn-container{
  margin-top: 50px;
  height: 50px;
  width: 150px;
}

.btn{
  font-size: 20px;
}

.white-background{
  background-color: white;
  height: 200px;
}

.black-border{
  border-left: 0px;
  border-right: 0px;
  border-style:solid;
}

.icon-image{
  height:25px;
  width:25px;
}

.inlined{
  display: inline-block;
  margin-left: 10px;
}

.button-link{
  color:white;
  margin: 10px;
  display: block;
}

.button-link:hover{
  color: white;
}


/**
For the testimonials
**/

h2 {
	color: #333;
	text-align: center;
	text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;
	font-weight: bold;
	position: relative;
	margin: 30px 0 60px;
}
h2::after {
	content: "";
	width: 140px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
	background: #db584e;
	left: 0;
	right: 0;
	bottom: -10px;
    opacity: .8;
}
.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel-item {
	color: #999;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 290px;
}
.carousel .item .img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 30px 0 10px;
}
.carousel .overview {	
	font-style: italic;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #db584e;
}
.carousel .carousel-control {
	width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
	background: none;
}
.carousel-control i {
    font-size: 68px;
	line-height: 42px;
    position: absolute;
    display: inline-block;
	color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel .carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 1px 3px;
	border-radius: 50%;
}
.carousel-indicators li {	
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {	
	background: #555;		
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}

/**End of testimonial css **/


.accordion-section .panel-default > .panel-heading {
  border: 0;
  background: #f4f4f4;
  padding: 0;
}
.accordion-section .panel-default .panel-title a {
  display: block;
  font-style: italic;
  font-size: 1.5rem;
}
.accordion-section .panel-default .panel-title a:after {
  font-family: 'FontAwesome';
  font-style: normal;
  font-size: 3rem;
  content: "\f106";
  color: #1f7de2;
  float: right;
  margin-top: -12px;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
  content: "\f107";
}
.accordion-section .panel-default .panel-body {
  font-size: 1.2rem;
}

footer{
  color:white;
}

.main-logo{
  margin-top: 30px;
  height:50px;  
  margin-left: 50px;
}

.nav-bar{
  background-color: rgb(255, 250, 249);
}
